<table class="table-bordered">
  <thead>
    <tr>
      <th>Month</th>
      <th>Rent</th>
      <th>Mobile</th>
      <th>Wifi</th>
      <th>Electric & Gas</th>
      <th>Grocery</th>
      <th>Personal Expense</th>
      <th>Zolve CC</th>
      <th>Amex CC</th>
      <th>Chase CC</th>
      <th>Total Expense</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>D1</td>
      <td>D2</td>
      <td>D3</td>
      <td>D4</td>
      <td>D5</td>
      <td>D5</td>
      <td>D5</td>
      <td>D5</td>
      <td>D5</td>
      <td>D5</td>
      <td>D5</td>
    </tr>
  </tbody>
</table>
